@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meu primeiro site em MVC</h1>
    <p>Bem vindo @Model.Nome</p>
    <span>Seu E-mail é @Model.Email</span>
</div>

